
* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bolder;
}

table {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-collapse: collapse;
    margin: auto; /* Centers the table horizontally */
} 

td {
    font-size: 20px;
    border: 3px solid rgb(29, 6, 6);
    text-align: center;
    padding: 8px; 
    background-color: rgb(220, 156, 212);
}
th{
    
    border: 3px solid rgb(29, 6, 6);
    text-align: center;
    padding: 8px; 
    background-color: aqua;
}


